<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id = "chulsu"  class = "com.example.StudentVO">
		<property  name = "hakbun"  value = "2020-01" />
		<property  name = "name"  value = "정철수" />
		<property  name = "kor">
			<value>80</value>
		</property>
		<property  name = "eng"  value = "100" />
		<property  name = "mat"  value = "80" />
	</bean>
	
	<bean id = "younghee"  class = "com.example.StudentVO">
		<property  name = "hakbun"  value = "2020-02" />
		<property  name = "name"  value = "정영희" />
		<property  name = "kor">
			<value>99</value>
		</property>
		<property  name = "eng"  value = "100" />
		<property  name = "mat"  value = "92" />
	</bean>
	
	<bean  id = "myCalculator"  class = "com.example.Calculator">
		<property name = "student"  ref = "younghee" />		<!--  chulsu 객체를 주입.. -->
	</bean>

</beans>
